[submodule "gateway-service"]
  path = gateway-service
	url = https://github.com/Krico16/curly-tribble.git
[submodule "auth-service"]
  path = auth-service
	url = https://github.com/Krico16/animated-enigma.git
